# ========================
# |----SOFA-FL Config----|
# ========================

experiment:
  seed: 42
  device: 'auto'
  parallel_training: true
  evaluation: on
  num_workers: 4

train:
  model: 'convnet'
  dataset: 'mnist'
  optimizer: 'adam'
  local_objective: "cross_entropy"
  alpha: 0.2
  beta: 0.2

server:
  n_clients: 20
  comm_rounds: 20
  cluster_type: 'dmac'
  distance_metric: 'euclidean'
  threshold: 0.1 # suggested range for MNIST: [0.01, 0.2]
  increment_factor: 1.3
  graft_tolerance: 0.1
  split_threshold: 0.7
  merge_threshold: 0.5
  max_splits: 3
  scheme:
    rounds_before_first_clustering: null

client:
  lr: 0.001
  weight_decay: 0.0001
  batch_size: 100
  local_updates: 5
  max_iters: null
  data_share:
    activate: on
    mode: "adapt"
    gamma: 5000
    maximum_sharing_ratio: 0.2
    keep_data: True

data:
  iid: false
  alpha: 1
  in_channels: 784

output:
  mode: "save" # "save" or "show" or "off"
  visualize_architecture: on
  image_size: [1000, 600]
  duration: 2