# ========================
# |----SOFA-FL Config----|
# ========================

experiment:
  seed: 42
  device: 'auto'
  parallel_training: off
  evaluation: on
  num_workers: 4

train:
  model: 'convnet'
  dataset: 'mnist'
  optimizer: 'adam'
  local_objective: "cross_entropy"
  alpha: 5
  beta: 5

server:
  n_clients: 20
  comm_rounds: 5
  eta: 0.2
  cluster_type: 'dmac'
  distance_metric: 'fisher'
  threshold: 0.1 # suggested range for MNIST: [0.01, 0.2]
  increment_factor: 1.3
  graft_tolerance: 0.1
  split_threshold: 0.7
  merge_threshold: 0.5
  max_splits: 3
  scheme:
    rounds_before_first_clustering: null

client:
  lr: 0.001
  weight_decay: 0.0001
  batch_size: 100
  local_updates: 1
  max_iters: null
  data_share:
    activate: off
    mode: "adapt"
    gamma: 5000
    maximum_sharing_ratio: 0.2
    keep_data: True

data:
  iid: false
  alpha: 1
  in_channels: 1

output:
  export_statistics: ["train_losses", "local_losses", "val_accuracies"]
  show_plots: off # [...]
  save_plots: ["structure", "train_losses", "local_losses", "inter_cluster_losses", "intra_cluster_losses", "val_accuracies", "model_distribution"]
  format: "jpg"
  image_size: [1000, 600]
  duration: 2